<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomerAttributes
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<div class="choice field">
  <section>
    <!-- ko foreach:  { data: options, as: 'item' }-->
    <p>
      <input type="radio" class="radio" data-bind="checked: $parent.value, attr: { id: $parent.uid + '_' + value, disabled: $parent.disabled, name: $parent.inputName, value: value }, hasFocus: $parent.focused">
      <label class="label" data-bind="text: $parent.description || label, attr: { for: $parent.uid + '_' + value }"></label>
    </p>
    <!-- /ko -->
    <!-- ko if: notice -->
    <div class="note" data-bind="attr: {id: $parent.noticeId}"><span data-bind="text: $parent.notice"></span></div>
    <!-- /ko -->
  </section>

</div>
