// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 3 times



a.float {
	&:focus {
		color:@color0;
	}
	&:visited {
		color:@color0;
	}
	&:hover {
		color:#e9ebed;
	}
}
.float {
	background-color:#25d366;
	border-radius:50px;
	bottom:15px;
	box-shadow: 2px 2px 3px #999999;
	color:@color0;
	height:60px;
	left:25px;
	position:fixed;
	text-align:center;
	width:60px;
	z-index: 9999;
}
.my-float {
	font-size: 36px;
	margin-top:12px;
}