<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block-subscribe-footer">
	<div class="title-middle-footer">
		<?php /* @escapeNotVerified */
		echo __('Daftarkan Email Anda') ?>
	</div>
    <form class="form subscribe"
          novalidate
          action="<?php /* @escapeNotVerified */
		  echo $block->getFormActionUrl() ?>"
          method="post"
          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
          id="newsletter-footer-validate-detail">

		<div class="newsletter-content">
			<div class="input-box">
				<input name="email" type="email" id="newsletter-footer"
                       onfocus="if(this.value=='<?php echo __("Alamat Email Anda") ?>') this.value='';"
                       onblur="if(this.value=='') this.value='<?php echo __('Alamat Email Anda') ?>';"
                       value="<?php echo __('Alamat Email Anda') ?>"
                       data-validate="{required:true, 'validate-email':true}"/>
			</div>

			<div class="action-button">
				<button class="action subscribe primary" title="<?php /* @escapeNotVerified */
				echo __('Langganan') ?>" type="submit">
					<span><?php /* @escapeNotVerified */
						echo __('Langganan') ?></span>
				</button>
			</div>
		</div>
    </form>
</div>
